nav {
    position: fixed;
    background: #9AD93D;
    height: 4em;
    width: 100%;
    z-index: 1;
}

label.name {
    color: #ffffff;
    font-size: 1.75em;
    line-height: 2.35em;
    padding: 0 5em;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 1em;
}

nav ul li {
    display: inline-block;
    line-height: 4em;
    margin: 0 0.25em;
}

nav ul li a {
    color: #ffffff;
    font-size: 0.85em;
    padding: 0.4em 0.65em;
    border-radius: 0.4em;
    text-transform: uppercase;
    font-weight: 700;
}

nav ul li a.active, nav ul li a:hover {
    background: #52BF04;
    transition: 0.5s;
}

.checkbtn {
    font-size: 1.5em;
    color: #ffffff;
    float: right;
    line-height: 2.8em;
    margin-right: 2em;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1150px) {

/* navigation */

    label.name {
        font-size: 1.1em;
        padding-left: 1em;
        line-height: 3.8em;
    }

    .checkbtn {
        display: block;
        margin-right: 1em;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 4em;
        left: -100%;
        text-align: center;
        opacity: 80%;
        transition: all 0.5s;

    }

    nav ul li {
        display: block;
        margin: 2.5em 0;
        line-height: 1.5;
    }

    nav ul li a {
        font-size: 1em;
    }

    nav ul li a:hover, nav ul li a.active {
        background: none;
        color: #52BF04;
    }

    #check:checked ~ ul {
        left: 0;
    }

}
